extend layout

block content
  p
    |  #{title}:
  p
    table
      thead
        tr 
          th Country 1 
          td &nbsp
          th Country 2
          td &nbsp
          th Country 1 Result
          td &nbsp
          th Country 2 Result
          td &nbsp 
          th Score
          td &nbsp
          th Year
      tbody 
        -for (var inx = 0; inx < results.length; inx++)
          tr
            td=results[inx].countryOne
            td &nbsp
            td=results[inx].countryTwo
            td &nbsp
            td=results[inx].resultOne
            td &nbsp
            td=results[inx].resultTwo
            td &nbsp
            td=results[inx].score
            td &nbsp
            td=results[inx].year